@import "variables.scss";

.sidebar {
  background-color: $pink;
  padding: 2rem;
  height: 40rem;

  ul {
    margin-bottom: 3rem;
    li {
      margin: 0.5rem;
    }
  }
}

.main {
  padding: 1rem 2rem;
}

.medicine {
  &-form {
    width: 80%;

    input {
      margin: 0;
    }
  }
}

.company-register {
  display: flex;
  justify-content: space-evenly;
}

.distribution {
  .medi-search {
    display: inline-block;
  }
}
