@import "variables.scss";

.sidebar {
  background-color: $pink;
  padding: 2rem;
  height: 45rem;

  &-menu {
    li {
      margin: 0.5rem;
    }
  }
}

.main {
  // background-color: $mint;
  padding: 1rem 2rem;
  header {
    font-weight: 900;
  }
}

.medicine {
  &-form {
    width: 80%;

    input {
      margin: 0;
    }
  }
}
