@import "variables.scss";

.mainpage {
  &-header {
    text-align: center;

    h1 {
      margin: 0;
      color: $brown;
      font-weight: 800;
      margin: 1rem auto;
    }
  }

  &-container {
    margin: 0 2rem;
    display: grid;
    grid-template-columns: 20rem 1fr;
  }
}

.welcome {
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  margin: 0 auto;
  text-align: center;

  header {
    width: 30rem;
    margin: 2rem auto;

    h1 {
      margin: 1rem auto;
      font-size: 4rem;
      font-weight: 700;
      font-family: $Sanchez;
    }
  }

  input {
    margin: 1rem auto;
  }

  button {
    margin: 1rem auto;
  }
}
