@import "variables.scss";

.mainpage {
  &-header {
    text-align: center;

    h1 {
      margin: 0;
      color: $brown;
    }
  }

  &-container {
    margin: 0 2rem;
    display: grid;
    grid-template-columns: 20rem 1fr;
  }
}

.welcome {
  width: 50rem;
  margin: 0 auto;
  text-align: center;

  header {
    width: 30rem;
    margin: 0 auto;
    font-family: $Sanchez;
    font-size: 3rem;
    font-weight: 700;
  }

  input {
    margin: 0 auto;
  }

  button {
    margin: 0 auto;
  }
}
